In [289]:
import pandas as pd
import numpy as np

## Portfolio

- SPY: €300 000
- AEX: €300 000
- RDSA: €10 000
- HSI: €90 000
- Bonds: €300 000

Total: €1 000 000

In [290]:
data = pd.read_csv('dataset.csv', index_col=0)
data.index = pd.to_datetime(data.index)
data.tail()

,SPY,AEX,HSI,RDSA.AS,USDEUR,HKDEUR,YIELDS
Date,,,,,,,
2020-04-20,281.589996,512.760010,24330.019531,15.800000,0.92040,0.118751,-0.346847
2020-04-21,273.040009,495.760010,23793.550781,15.048000,0.92111,0.118833,-0.370244
2020-04-22,279.100006,509.619995,23893.359375,15.984000,0.92510,0.119362,-0.333314
2020-04-23,279.079987,512.729980,23977.320312,16.521999,0.92575,0.119436,-0.335829
2020-04-24,279.600006,504.940002,23831.330078,15.978000,0.92640,0.119510,-0.335829

In [291]:
data = data.iloc[[0,2906],:]
data

,SPY,AEX,HSI,RDSA.AS,USDEUR,HKDEUR,YIELDS
Date,,,,,,,
2010-01-01,113.330002,343.029999,21823.279297,21.580,0.69493,0.089270,3.768965
2020-01-01,323.364990,608.725006,28366.634766,26.355,0.89120,0.114334,-0.163201

In [292]:
pf_incr = 1+(data.iloc[1,:] -  data.iloc[0,:]) /  data.iloc[0,:]
pf_incr

SPY        2.853304
AEX        1.774553
HSI        1.299834
RDSA.AS    1.221270
USDEUR     1.282431
HKDEUR     1.280766
YIELDS    -0.043301
dtype: float64

In [293]:
relative_weights = [0.3, 0.3, 0.01, 0.09, 0.3]
absolute_weights = [300000, 300000, 10000, 90000, 300000]

In [294]:
pf = pf_incr.iloc[0:4]*[300000, 300000, 90000, 10000]
yields = 300000*np.exp(-(12-10)*data.iloc[1,6])
pf['yields'] = yields
pf

SPY        855991.313006
AEX        532365.981054
HSI        116985.036675
RDSA.AS     12212.697215
yields     415792.002538
dtype: float64

In [295]:
pf_old = sum(pf)
pf_old

1933347.030486621

In [296]:
#increase of 20%
stock_change = 1.2
pf[0:4]=pf[0:4]*stock_change
pf_new = pf
pf_new

SPY        1.027190e+06
AEX        6.388392e+05
HSI        1.403820e+05
RDSA.AS    1.465524e+04
yields     4.157920e+05
dtype: float64

In [297]:
pf_new = sum(pf_new)
pf_new

2236858.0360764056

In [298]:
#increase of pf value
change = (pf_new - pf_old)/pf_old
change

0.15698733895352002